.git
.github
.DS_Store
node_modules
client/node_modules
server/node_modules
client/dist
client/playwright-report
client/test-results
server/coverage
client/coverage
.terraform
terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.backup
server/.env
client/.env
